
/*upto here*/
.level{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
   
   height: 680px;
    

    
}

.level-name{
   
    width: 250px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #033921;
        background: -webkit-linear-gradient(177deg, #11402b 0%, #044327 100%);
        background: linear-gradient(177deg, #15603e 0%, #0e5c39 100%);
    color: white;
    font-size: 30px;
    box-shadow: 1px 20px 30px 20px#11402b;
    
}



/*Easy level*/

#Easylevel{
    display: none;
}

.head-easy h2{
    
    width: fit-content;
    padding: 5px;
    background-color: #007540;
    color: white;
    border-radius: 5px;
    text-align: center;
    
}
.head-easy p{
    font-family: sans-serif;

}

.coins{
    position:fixed;
    right: 50px;
    top: 0;
}
.select-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px
    
}
.select-img img{
    height: 400px;
    width: 400px;
    border-radius: 30px;
}
.game-img.active{
    display: block;
}
.game-img.hidden {
    display: none;
}
.selected-image{
    display: none;
}


.all-imgs{
    display: flex;
    justify-content: space-evenly;
}
.all-imgs img{
    height: 530px;
    border-radius: 10px;
    
}
.all-imgs h5{
  font-size: 35px;
}
.question-1 p{
    font-size: 25px;
}
.options{
    display: flex;
    justify-content: space-between;
   
}
.option{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    gap: 15px;
}
.result{
    margin-top: 40px;
}
#Mnext{
    display: none;
}
#Hnext{
    display: none;
}

/*Medium level*/
#Mediumlevel {
    display: none;
}

/*Hard level*/
#Hardlevel {
    display: none;
}